/* body */
body {
    margin: 0;
    width: 100%;
}

body.promo {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.mobile {
    max-width: 414px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 4px 2px #EFF2F3;
    padding-bottom: 4rem;
    overflow-x: hidden;
}

/* text styles */
h1 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 28pt;
    margin: 0;
}

h2 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 24pt;
    margin: 0;
}

h3 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 18pt;
    margin: 0;
}

h4 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 18pt;
    font-style: italic;
    margin: 0;
}

h5 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 16pt;
    margin: 0;
}

h6 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    font-size: 9pt;
    margin: 0;
}

p.subtitle-large {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 18pt;
    font-style: italic;
    margin: 0;
}

p.subtitle-small {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    font-style: italic;
    margin: 0;
}

p.large {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 18pt;
}

p.large-italic {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    font-style: italic;
}

p.small {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

p.error {
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    margin: 0;
}

input[type="text"] {
    width: 100%;
    border: hidden;
    background-color: transparent;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 16pt;
    text-align: end;
}

input:focus {
    outline: none;
}

input[type="text"]::placeholder {
    font-family: 'Urbanist', sans-serif;
    font-weight: 200;
    font-size: 16pt;
    color: #080B0C;
}

input[type="text"]:-ms-input-placeholder {
    font-family: 'Urbanist', sans-serif;
    font-weight: 200;
    font-size: 16pt;
    color: #080B0C;
}

input[type="text"]::-ms-input-placeholder {
    font-family: 'Urbanist', sans-serif;
    font-weight: 200;
    font-size: 16pt;
    color: #080B0C;
}

/* buttons */
.btn-s {
    width: 45%;
    height: 5vh;
    border: 0px;
    margin: 0.5rem;
    padding: 0vh 0.6rem;
    border-radius: 0.6rem;
    text-align: left;
}

.btn-m {
    width: 50%;
    height: 6vh;
    border: 0px;
    margin: 0.5rem;
    padding: 0vh 0.6rem;
    border-radius: 1rem;
    text-align: center;
}

.btn-promo {
    border: 0px;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
}

/* nav */
nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 100%;
    max-width: 414px;
    height: 4rem;
    position: fixed;
    bottom: 0px;
    background-color: white;
    border-radius: 1rem 1rem 0rem 0rem;
    box-shadow: 0px -2px 5px 2px #EFF2F3;
}

    .nav-section {
        text-align: center;
        width: 100%;
    }

/* bars */
.bar-search {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 90%;
    height: 5vh;
    padding: 0rem 1rem;
    margin: 0.5rem 0rem;
    background-color: #FFF8EE;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 2px #EFF2F3;
}

/* containers */
.category, .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
    margin: 0.5rem;
}

.container-round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
    padding: 0.5rem 0rem;
    margin: 0.5rem;
    width: 95%;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 4px #EFF2F3;
}

.category-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.category-single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.category-slide {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
    column-gap: 1rem;
    padding-left: 1.5vw;
}

.locked {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-top: 15rem;
    max-width: 414px;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
}

.budget-allowance {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-top: 5rem;
}

.plan-savings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0.5rem;
    margin-top: 5rem;
    height: 100%;
}

.profile-container {
    height: 50%;
    width: 95%;
    margin: 2rem 0.6rem 0rem 0.6rem;
    border-radius: 1rem 1rem 0rem 0rem;
    box-shadow: 0px 0px 5px 4px #EFF2F3;
}

.profile-header-background {
    height: 80%;
    width: 90%;
    margin: 1rem;
}

.profile-header-profile {
    width: 8rem;
    height: 8rem;
    position: absolute;
    bottom: 0rem;
    overflow: hidden;
    border-radius: 1rem;
}

.profile-divider {
    height: 8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    border-radius: 1rem;
}

.profile-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-section p {
    text-align: center;
    margin: 0;
}

.img-header-background {
    height: 80%;
    width: 90%;
    margin: 1rem;
}

.img-header-icons {
    position: absolute;
    top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    max-width: 360px;
    margin: auto;
}

.img-header-title {
    color: #47549D;
    position: absolute;
    bottom: 0rem;
    overflow: hidden;
    border-radius: 1rem;
    text-align: center;
    width: 100%;
    max-width: 360px;
}

/* headers */
header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    max-width: 414px;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0rem 0rem 1rem 1rem;
    box-shadow: 0px 2px 5px 2px #EFF2F3;
}

    .header-left {
        width: 25%;
        text-align: left;
        padding: 0.5rem;
    }

    .header-center {
        width: 50%;
        text-align: center;
        padding: 0.5rem;
    }

    .header-right {
        width: 25%;
        text-align: end;
        padding: 0.5rem;
    }

.category-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0.5vh 0vw;
    padding: 0.5vw 3vw;
    background-color: #39437F;
    color: white;
}

.container-r-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0.5vh 0vw;
    padding: 0.5vw;
    background-color: #39437F;
    color: white;
}

    .container-r-header input[type="text"] {
        color: white;
        text-align: end;
    }

    .container-r-header input[type="text"]:focus {
        color: white;
        text-align: end;
    }

    .container-r-header input[type="text"]::placeholder {
        color: white;
    }

    .container-r-header input[type="text"]:-ms-input-placeholder {
        color: white;
    }
    .container-r-header input[type="text"]::-ms-input-placeholder {
        color: white;
    }

.profile-header {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-header {
    width: 100%;
    max-width: 414px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* strip */
.strip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    margin: 0.5vh 0vw;
    padding: 0.5vw 3vw;
    background-color: #39437F;
    color: white;
}

    .strip-left {
        width: 40%;
        padding: 0rem 0.5rem;
    }

    .strip-c-left  {
        width: 50%;
        padding: 0rem 0.5rem;
    }

    .strip-center {
        width: 30%;
        text-align: end;
        padding: 0rem 0.5rem;
    }

    .strip-right {
        width: 30%;
        text-align: end;
        padding: 0rem 0.5rem;
    }

    .strip-c-right {
        width: 50%;
        text-align: end;
        padding: 0rem 0.5rem;
    }

/* lesson tab */
.lesson {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    width: 90%;
    max-width: 360px;
    height: 12rem;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 4px #EFF2F3;
}

    .lesson-left {
        width: 30%;
        height: 90%;
        border-radius: 10px;
        box-shadow: 0px 0px 2px 2px #EFF2F3;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
        .lesson-left img {
            object-fit: cover;
            height: 100%;
        }

    .lesson-right {
        width: 64%;
        height: 90%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
    }

        #lesson-title {
            color: #39437F;
        }

        #lesson-duration {
            font-size: 10pt;
            color: #FFE1AD;
        }

.series-objectives p {
    margin: 0;
}

/* resource tab */
.resource {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    row-gap: 0.5rem;
    width: 11.5rem;
    height: 15rem;
    padding: 0.2rem 0rem;
    margin: 1rem 0rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 4px #EFF2F3;
    color: #39437F;
}

    #resource-bookmark {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }

    .resource-top {
        width: 90%;
        height: 60%;
        border-radius: 10px;
        box-shadow: 0px 0px 2px 2px #EFF2F3;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .resource img {
        height: 100%;
        object-fit: contain;
        opacity: 75%;
    }

    .resource-bottom {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 30%;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        #resource-creator {
            font-size: 10pt;
            color: #FFADAD;
        }

        #resource-duration {
            font-size: 10pt;
            color: #FFE1AD;
        }

        #resource-play {
            position: absolute;
            top: 3rem;
            text-align: center;
        }

/* promo */
#intro-img {
    width: 100%;
    object-fit: fill;
}

.promo-container {
    height: 100vh;
    margin: 0;
    padding: 0rem 2rem;
    column-gap: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #FFF8EE;
}

.promo-container-c {
    height: 100vh;
    margin: 0;
    padding: 4rem 2rem;
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.promo-container-r {
    height: 100vh;
    margin: 0;
    padding: 4rem 2rem;
    column-gap: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.promo-i-column {
    width: 50%;
    height: 100%;
    overflow-y: hidden;
}

#p-video video {
    border-radius: 12px;
    box-shadow: 0px 0px 5px 4px #eff2f360;
    background-color: white;
}

.promo-column {
    width: 30%;
    height: 80%;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

    .promo-column-img {
        width: 40%;
        height: 100%;
        margin: 2rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

.promo-column img {
    height: 100%;
    object-fit: cover;
}

.promo-row {
    height: 80%;
    width: 40%;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: center;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

    .promo-row::-webkit-scrollbar {
        display: none;
    }

    .promo-row img {
        height: 100%;
        object-fit: cover;
    }

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
}

footer a {
    color: white;
    text-decoration: none;
}

    footer a:hover {
        color: #FFCB71;
        font-style: italic;
    }

    /* FOR ANIMATIONS */
    #pv-item {
        opacity: 0%;
        transform: translateY(500px);
    }

    #pfone-img1 {
        opacity: 0%;
        transform: translateY(-200px) rotate(15deg);
    }
    #pfone-img2 {
        opacity: 0%;
        transform: rotate(15deg);
    }
    #pfone-img3 {
        opacity: 0%;
        transform: translateY(200px) rotate(15deg);
    }
    #pfone-text {
        opacity: 0%;
        transform: translateX(500px);
    }

    #pftwo-img {
        opacity: 0%;
        transform: translateY(500px);
    }
    #pftwo-text {
        opacity: 0%;
        transform: translateY(500px);
    }

    #pfthr-img1 {
        opacity: 0%;
        transform: translateY(200px) rotate(-15deg);
    }
    #pfthr-img2 {
        opacity: 0%;
        transform: rotate(-15deg);
    }
    #pfthr-img3 {
        opacity: 0%;
        transform: translateY(-200px) rotate(-15deg);
    }
    #pfthr-text {
        opacity: 0%;
        transform: translateX(500px);
    }

    #pffour-img {
        opacity: 0%;
        transform: translateY(500px);
    }
    #pffour-text {
        opacity: 0%;
        transform: translateY(500px);
    }

    #preview-img {
        height: 50%;
        opacity: 0%;
        transform: translateY(200px) scale(0.8);
    }
    #preview-text {
        opacity: 0%;
        transform: translateY(500px);
    }

/* img */
.profile-header-bgimg {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 4px #EFF2F3;
}

.profile-header-pimg {
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.img-header-bgimg {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 4px #EFF2F3;
    opacity: 50%;
}



/* colors */
.red400 {
    background-color: #FF4747;
    color: white;
}

.red300 {
    background-color: #FF6B6C;
    color: white;
}

.red200 {
    background-color: #FFADAD;
    color: #080B0C;
}

.yel400 {
    background-color: #FFA50A;
    color: white;
}

.yel300 {
    background-color: #FFCB71;
    color: white;
}

.yel200 {
    background-color: #FFE1AD;
    color: #080B0C;
}

.blu500 {
    background-color: #262D54;
    color: white;
}

.blu300 {
    background-color: #47549D;
    color: white;
}

.blu200 {
    background-color: #9CA5D3;
    color: #080B0C;
}

.nwht {
    background-color: white;
    color: #080B0C;
}

.nblk {
    background-color: #080B0C;
    color: white;
}